extends layout

block content
	ol.breadcrumb
		li.active Home
	h3 Overview
	p This application takes a photo of an outfit of your choice and find similar outfits from polyvore. Upload a photo of an outfit or someone wearing an outfit you like and browse through the results by subitting the form below!
	h3 Upload
	form.form-inline(action='/', method='post', role='form', enctype='multipart/form-data')
		.form-group
			label(for='inputFile') File input
			input(type='file', name='inputFile', id='inputFile')
		button.btn.btn-primary(type='submit') Upload