doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(type="text/javascript", src="/js/jquery-2.1.0.min.js")
    script(type="text/javascript", src="/js/bootstrap.min.js")
    script(type="text/javascript", src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js")
  body
    block content