extends layout

block content
	ol.breadcrumb
		li
			a(href='/') Home
		li.active Results
	.row
		.col-md-4
			h3 Original image
			img.img(src='#{relPath}')
		.col-md-8
			h3 Results
			//- Display results thumbs grid here
			a(href='/')
				button(type='button').btn.btn-primary
					span Try another image
	script.
		$(document).on('DOMContentLoaded', function() {
			// if not an example input image, remove the temp image
			if ($('.img').attr('src').indexOf('/temp/') != -1) {
				$.get('../remove/' + $('.img').attr('src').split('/')[2]);
			}
		});