body {
  padding: 20px 50px 20px 50px;
}

.thumb {
	max-height: 300px;
}

.contsection {
	padding-left: 20px;
}

.alert {
	padding-top: 5px;
	padding-bottom: 5px;
}

.Hidden {
	display: none;
}

.img {
	margin: 10px;
	width: 100%;
}

.detectimg {
	width: 100%;
	margin-bottom: 10px;
}

.modal-title {
	font-size: 17px;
	text-align: center;
}

.red {
	font-weight: bold;
	color: red;
}

.green {
	font-weight: bold;
	color: green;
}

.modal-sm {
	margin-top: 20%;
	text-align: center;
}

.modal-content {
	padding-bottom: 10px;
}

.btn {
	margin-right: 20px;
}